<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Services Test App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Services Test App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p><strong>Persons in the list: {{ (peopleSvc.requestAllPersons() | async)?.length }}</strong></p>
    <ion-button (click)="createPerson()">Add person to the list</ion-button><br>
    <ion-button (click)="deletePerson()">Delete person from the list</ion-button>
  </div>
</ion-content>
